@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body > * {
    font-family: 'Roboto', sans-serif !important;
}

.title {
    font-family: 'Roboto', sans-serif !important;
}

#asd {
    position: fixed;
    z-index: -1;

}

.bgImage {
    background: url(assets/images/img.png) no-repeat center center;
    background-size: cover;
}

.bac {
    background: rgb(153, 89, 51)
}

.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px !important;
    background: rgb(153, 89, 51) !important;
}

.checkbox > label {
    color: white !important
}

.center-content {
    text-align: start !important;
}

.main-container {
    width: 1440px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.left-menu {
    display: flex;
    flex-direction: column;
    background-color: #191B1E;
    padding: 19px;
    width: 280px;
}

.menu-container {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.menu-element {
    height: 49px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.menu-element:hover {
    background-color: #24272A;
}

.menu-element > span {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.menu-element-active {
    background-color: #24272A;
    border-right: 2px solid #CC723C
}

.body-wrapper {
    padding-left: 44px;
    padding-top: 23px;
    padding-right: 37px;
    background-color: #191B1E;
    display: flex;
    flex-direction: column;
}

.body-header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.header-icon {
    margin-left: 30px !important;
    cursor: pointer;
}

.start-bot-button {
    height: 50px;
    outline: none !important;
    border: 2px solid #21832B;
    border-radius: 5px;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #21832B;
    width: 145px;
    text-align: center;
    margin-left: 53px;
    cursor: pointer;
}

.start-bot-button:disabled {
    border: 2px solid #868a86;
    color: #868a86
}

.wallet-icon {
    margin-left: 50px !important;
    cursor: pointer;
}

.main-wrapper {
    margin-top: 23px;
    background-color: #191B1E;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contained-button {
    outline: none !important;
    cursor: pointer;
    text-align: center;
    background: #CC723C;
    border: 2px solid #CC723C;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #191B1E;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
}

.outlined-button {
    outline: none !important;
    cursor: pointer;
    text-align: center;
    border: 2px solid #CC723C;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #CC723C;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    height: 50px;
    width: max-content;
}

.contained-button:disabled, .outlined-button:disabled {
    border: 2px solid #868a86;
    color: #868a86;
    background-color: transparent;
}

.accordion-header {
    margin-left: 72px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.accordion-icon {
    margin-left: auto;
    margin-right: 10px !important;
}

.accordion-header-text {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-bottom: 2px solid #CC723C;
    width: min-content;
    margin-bottom: 20px !important;
}

.space-after-header {
    height: 30px;
}

.content {
    padding: 40px !important;
}
.contained-button:active, .outlined-button:active {
    border: 2px solid #0e0e0e;
}

.ui.segment {
    margin: 0 !important;
}
.checkbox > input {
    background-color: transparent !important;
    border: 1px solid #e0e0e0
}

tr, td, th {
    border: none !important;
}

/*.MuiInput-underline:before, .MuiInput-underline:after {*/
/*    content: none !important;*/
/*}*/
